body{
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(315deg,#9fa4c4af  0%,#e6e6e6  80%);   
}

.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    padding: 0 60px;
}

.sec-texto{    
    width: 70%;
}

.texto{
    font-size: 2em;
    border: none;
    background: none;
    resize: none;
    margin: 30px 40px;
    width: 80%;
    height: 250px;
    text-transform: lowercase;
}

.texto::placeholder{ 
    color: rgba(0, 0, 0, 0.712);
}

.texto:focus {
    outline: none;
}

.aviso{
    margin: 20px 40px;
    font-size: 14px;
    color:dimgray;
}

.botoes{
    margin: 0 30px; 
}

.btn-encriptar, .btn-desencriptar{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 10px;
    transition: 400ms;
}

.btn-encriptar{
    border:none;
    background: #6385e4e7;
    color: white;
}

.btn-desencriptar{
    border: 1px solid #6385e4e7;
    background: #796c6b25;
    color: #6385e4e7;
}

.btn-encriptar:hover, .btn-desencriptar:hover{
    cursor: pointer;
    font-size: 19px;
}

.btn-encriptar:hover{
    background: #6385e4e7;
}

.btn-desencriptar:hover{
    background: #e6dedd0a;
}

.sec-mensagem{
    width: 33%;
    height: 380px;
    background-color: #dad8f5 ;
    margin: 20px auto;
    border-radius: 20px;
    text-align: center;
    padding: 25px;
}

.msg-encriptada{
    background: none;
    border: none;   
    resize: none;    
    display: none;
    font-size: 20px;
    width: 80%;
    height: 80%;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.712);
}

.msg-encriptada:focus {
    outline: none;
}

.itens{
    margin:10px;
}

.itens > img{
    width: 33%;
    margin: 20px;
}

.itens > h3{
    font-size: 25px;
    margin: 10px 20px;
    color: #6385e4e7;
    font-weight: bolder;
}

.itens > p{
    font-size: 17px;
    line-height: 25px;
    color:dimgray;
    margin: 20px;
}

.btn-copiar{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    margin: 20px auto;
    color: #6385e4e7;
    border: 1px solid #6385e4e7;
    transition: 400ms;
    display: none;
}

.btn-copiar:hover{
    cursor: pointer;
    background-color:#d3d8f5;
    color:white;
}

footer{
    font-size: 13px;
    text-align: center;
    color: dimgray;
    padding: 10px;
}

a > img{
    width: 20px;
    height: 20px;
    margin: 20px 8px;
    opacity: 0.4;
}

@media screen and (max-width: 768px){
    main{
        padding: 0;
        display:flex;
        flex-wrap: wrap;
    }

   .sec-texto, .sec-mensagem{
        width: 100%;   
        padding-left: 10px;           
    }

    .texto{
        font-size: 18px;
        margin: 0;
        padding-left: 40px;
    }

    .btn-encriptar, .btn-desencriptar, .btn-copiar{
       width: auto;
       margin-bottom: 10px;
       font-size: 15px;
    }

    .msg-encriptada{
        margin: 20px 0 0 40px;
    }

    .itens{
        margin: 0;
    }

    .itens > img{
        width: 180px;
    }

    .itens > h3{
        font-size: 20px;
    }

}
